body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #e0f0d0;
    padding: 20px;
    text-align: center;
  }
  
  ul {
    list-style-type: square;
    margin: 20px;
    color: #444;
  }
  